@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .font-inter-custom {
    font-family: 'Inter', sans-serif;
  }

  .font-urbanist-custom {
    font-family: 'Urbanist', sans-serif;
  }

  .font-plus-custom {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .font-archivo-custom {
    font-family: 'Archivo', sans-serif;
  }

  .font-outfit-custom {
    font-family: 'Outfit', sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes marquee-seamless {
  from { transform: translateY(0); }
  to { transform: translateY(calc(-50%)); } 
}

.animate-marquee {  
  animation: marquee-seamless 20s linear infinite;
  animation-play-state: paused;
}

.is-visible .animate-marquee {
  animation-play-state: running;
}

